header {
	margin-top: 16px;
	position: relative;	

	#logo {
		display: inline-block;
		vertical-align: top;
		margin-left: 6px;

		img {

		}
	}

	#search {
		display: inline-block;
		vertical-align: top;
		margin-right: 2em;
		margin-left: 6%;
		

		#search-zone {
			width: 400px;
		}

		#search_btn {
			position: relative;
			right: 12px;
			top: 1px;
		}
	}
	
	#btn-space {
		position: absolute;
		top: 0;
		right: 12px;	
	}

	button {
		font-size: 1em;
		border: 1px solid transparent;
		padding: 0.4em 0.6em;
		border-radius: 4px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			color: #000;
			text-decoration: none;
		}
	}
}

#navTop {
	background: #212121;

	ul {
		margin: 0 0 10px 0;
		font-size: 0;
		text-align: center;

		li {
			margin: 0;
			display: inline-block; 	

		}

		a {
			font-size: 16px;
			color: #ddd;
			display: block;
			padding: 10px;
			width: 100%;
			height: 100%;
			font-size: arial;
			text-decoration: none;
			font-weight: 300;
		}
		a:hover {
			color: #fff;
		}
	}
}

#sidebar {
	background: #2a2a2a;
	width: 14%;
	float: left;
	margin: 0;

	#tagsList {
		margin: 0;
		padding: 0;
		background: #000;

		li {
			list-style-type: none;

			a {
				display: block;
				background: linear-gradient(to bottom, #4b4746 0%,#3b3736 100%);
				padding: 6px 0 6px 10px;
				box-sising: border-box;
				color: #fff;
				border-bottom: 1px solid #777;
				text-decoration: none;
			}

			a:hover {
				background: linear-gradient(to bottom, #5A5756 0%,#4B4847 100%);
				text-decoration: none;
			}
		}
	}

	#videosLinked {
		background: #f00;
	}
}


#main {
	width: 86%;
	float: left;
	margin: 0;

}










